@font-face {
  font-family: 'LINE Seed';
  /* แก้ไข path ให้ตรงกับชื่อไฟล์จริงที่มีนามสกุล .ttf */
  src: url('/fonts/LINESeedSansTH_Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* บังคับใช้ฟอนต์ LINE Seed ทุกจุด */
  font-family: 'LINE Seed', sans-serif !important;
}

body {
  background: white !important;
  color: black;
  margin: 0;
}